.background-image{
    position: absolute;
    z-index: 1;
    width: 100%;
}

.background-image img {
   margin: auto;
   display: block; 
}

.main-content{
    position: absolute;
    z-index: 2;
    width: 100%;
}

.jumbotron {
    opacity: 0.7;
}