html, body {
    height: 100%;
    margin: 0;
}

.main-content{
    width: 100%;
    min-height: 100%;
    background: url(../img/mblogo.svg);
    background-size: 100% 100%;
}

.jumbotron {
    opacity: 0.92;
}

.faq-question {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: gray 1px solid;
}

p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 100%;
    text-align: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color:#e83e8c;
}

